body {
    background-color: brown;
}
h1 {
    color: floralwhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    align-items: center;
}
p {
    font-family: cursive;
    color: gainsboro;
    
}